<!-- $Id: welcome.rhtml 1 2007-09-12 17:47:33Z nicb $ -->

<div class="memo">
    <h3>Welcome</h3>

    <p>You are now logged into the system...</p>
    <p>
    Since you are here it's safe to assume the application never called store_location, otherwise
    you would have been redirected somewhere else after a successful login.
    </p>
      
</div>
